{:kotoba.app/latest "k51qzi5uqu5dli3vvmsz4vfm2n1gv5nm0jfifj37bxqzbm3kx54p9e6al83w84", :kotoba.app/site-cid "bafybeiateqagcrbyzbckrdpzihfsdrjz7hzqex7elu7iltqgu2nml6dtpi", :kotoba.app/id "cloud.itonami.graph-sos-intel", :kotoba.app/kind :document, :kotoba.app/embed-url "ipns://k51qzi5uqu5dli3vvmsz4vfm2n1gv5nm0jfifj37bxqzbm3kx54p9e6al83w84", :published {:own-nodes {:cid "bafybeiateqagcrbyzbckrdpzihfsdrjz7hzqex7elu7iltqgu2nml6dtpi", :ipns "k51qzi5uqu5dli3vvmsz4vfm2n1gv5nm0jfifj37bxqzbm3kx54p9e6al83w84", :nodes ["gad" "xavier" "jacob"], :at "2026-10-09T03:23:51Z"}}}
